*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ------------------ Colors ------------------ */
    --body_color: #ffffff;
    --nav_bg: rgb(104, 104, 104);
    --nav_text: #fff;
    --nav_text_hover: #fff;
    --nav_actice_bg:#fff;
    --nav_actice_text:rgb(0, 0, 0);
    --nav_toggle_bg:rgb(104, 104, 104);
    --nav_toggle_color:#fff;

    /* ------------------ Transition ------------------ */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body_color);
    transition: var(--tran-05);
}


/*------------------------------- Sidebar-------------------------------*/
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    padding: 10px 0 0 10px;
    background: var(--nav_bg);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width:0px;
    background-color: transparent;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--nav_text);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 95vh;
    right: -10px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background-color: var(--nav_toggle_bg);
    color: var(--nav_toggle_color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    text-decoration: none;
    transition: var(--tran-03);
}

/* .sidebar li a:hover{
    background-color: var(--nav_text_hover);
} */
.sidebar li .active,
 .sidebar li .active i,
 .sidebar li .active span{
    background-color: var(--nav_actice_bg);
    color: var(--nav_actice_text);

}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--nav_actice_text);
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}


